.valid {
    color: black\9;
    background-color: #b0ffaf\9;
}

.valid:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .green:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
    color: black;
    background-color: #b0ffaf;
}

.alerted {
    color: black;
    background-color: #f5ff9b;
}
.alerted:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .yellow:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
    color: black;
    background-color: #f5ff9b;
}

.invalid {
    color: black\9;
    background-color: #ffc8c8 !important;
}

.invalid:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .red:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
    color: black;
    background-color: #ffc8c8;
}

.editedRow {
    font-style: italic;
    font-weight: bold ;
}
.invalidTable {
    background: url(/jqwidgets/styles/images/wavyline.gif) repeat-x 80% 80%;
}
.showrule {
    font-size: 0.9em;
}
.control-result {
    border: 1px solid #c4c4c4;
    border-collapse: collapse;
    margin-bottom: 10px;
    width: 600px;
    text-align: center;
}
.control-result td {
    border: 1px solid #c4c4c4;
    padding: 2px;
}
.tableprotocol-header {
    margin: 10px;
    font-size: 1.1em;
}
.tableprotocol-header:hover {
    text-decoration: underline;
}
.tableprotocol-content {
    margin-left: 10px;
}

.calculated { background-color: rgba(27, 116, 156, 0.25); }

.equality { background-color: #57ff53; }
.approximate { background-color: #a8ff96; }
.moderate { background-color: #f5ff9b; }
.significant { background-color: #ffc8c8; }
.not_editable {
    color: grey;
}

#full-screen-warning-container{display:none!important}