.valid {
    background-color: #b0ffaf;
}
.noaudit {
    background-color: #e2e2e2;
}
.invalid {
    background-color: #ffa3a8;
}
.control_result {
    border: 1px solid #afafaf;
    border-collapse: collapse;
}
.control_result td {
    border: 1px solid #afafaf;
}
.filledForm {
    font-style: italic;
    font-weight: bold;
}
.editedStatus {
    background-color: #ecfff2;
}
.preparedStatus {
    background-color: #fffac5;
}
.acceptedStatus {
    background-color: #c3ffc8;
}
.approvedStatus {
    background-color: #75ff9d;
}
.declinedStatus {
    background-color: #ffa5ac;
}